
body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000000;
    line-height: 1.6;
}
header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

header.scrolled {
    background: rgba(241, 239, 239, 0.2);
    backdrop-filter: blur(4px);
}

* {
  -webkit-tap-highlight-color: transparent;
}


/* ================== NAVBAR WEBSITE ================== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: rgba(222, 214, 193, 0.6); /* Warna coklat semi-transparan */
    backdrop-filter: blur(10px); /* Efek blur seperti kaca */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-left {
    flex: 0 0 auto;
}


.navbar img.logo {
    height: 40px;
    -webkit-tap-highlight-color: transparent;
}
.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-center nav {
    display: flex;
    gap: 3.5rem;
    align-items: center; 
}

.navbar-center nav a {
    text-decoration: none;
    color: #000;
    font-weight: 430;
     font-size: 0.95rem; 
    transition: color 0.2s;
}

.navbar-center nav a:hover {
    color: #000000;
    font-weight: 500;
}

/*
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}*/

.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 25px);;
    left: 50%;
    transform: translate(-50%, -10px);
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    min-width: 200px;
    z-index: 1000;
    transition: opacity 0.5s ease, transform 0.3s ease;
}
.dropdown-content a {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    color: #333;
    text-decoration: none;
    transition: background 0.2s ease, color 0.2s ease;
    border-radius: 8px; /* supaya sudutnya rounded */
}
.dropdown-content a:hover {
    background: #eee; /* abu lembut */
    color: #000;
}

.dropdown-content a:focus,
.dropdown-content a:active {
    background: #ddd;
    color: #000;
}

.dropdown-content.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}


/* SIDE BAR HAMBURGER ICON*/
#nav-icon4 {
    width: 28px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: none;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000000;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transition: all 0.25s ease-in-out;
}

#nav-icon4 span:nth-child(1) { top: 0px; }
#nav-icon4 span:nth-child(2) { top: 8px; }
#nav-icon4 span:nth-child(3) { top: 16px; }

#nav-icon4.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
}

#nav-icon4.open span:nth-child(2) {
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 8px;
}

@media (max-width: 1080px) {
    .navbar-center { display: none; }
    #nav-icon4 { display: block; }
}


/* ================== MOBILE ================== */
@media (max-width: 1080px) {
    .navbar-center {
        display: none;
    }
    .hamburger {
        display: block;
    }
}


/* ===== MOBILE MENU SIDE-DRAWER ===== */

.mobile-menu-overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 900;
}

.mobile-menu-overlay.show {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(5px);
}

.mobile-menu {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    height: calc(100% - 64px);
    background: #EBE6DA;
    backdrop-filter: blur(12px);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: right 0.4s ease;
    z-index: 1000;
}

.mobile-menu.show {
    right: 0;
}



.mobile-menu nav {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* jarak antar item */
}

.mobile-menu nav a {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    -webkit-tap-highlight-color: transparent;
}

.mobile-menu nav a:hover {
    color: #000000;
    font-weight: 650;
}




/* ================== SECTION PRESTASI ================== */

.prestasi-section {
  padding: 4rem 1rem;
  text-align: center;
  background: #fafaf5;
}

.section-subtitle {
  font-size: 1rem;
  color: #d23a6f;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.section-title {
  font-size: 2rem;
  color: #000000;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.prestasi-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolom default */
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* RESPONSIVE: 2 kolom untuk tablet */
@media (max-width: 1024px) {
  .prestasi-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* RESPONSIVE: 1 kolom untuk HP */
@media (max-width: 600px) {
  .prestasi-grid {
    grid-template-columns: 1fr;
  }
}


.prestasi-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  overflow: hidden;
  text-align: left;
  transition: transform 0.3s ease;
}

.prestasi-card:hover {
  transform: translateY(-5px);
}

.prestasi-card img {
  width: 100%;
  height: 400px; /*ukuran foto*/
  object-fit: cover;
}

.prestasi-info {
  padding: 1rem;
}

.prestasi-info h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.prestasi-date {
  margin-bottom: 0.6rem; /* spacing setelah tanggal */
  font-size: 0.8rem;
  color: #665C4F;
  font-weight: 500;
}

.prestasi-description {
  font-size: 0.9rem;
  color: #000000;
  line-height: 1.6;
  margin-bottom: 1rem;
}


.hashtag {
  color: #7B6456; 
  line-height: 0.5;
  font-size: 0.9rem
}

.hashtag span {
  color: #7B6456;
  font-weight: 600;
}

.selengkapnya-btn {
  display: inline-block;
  margin-top: 0.8rem;
  padding: 0.4rem 1rem;
  background: white;
  border: 2px solid #7B6456;
  color: #7B6456;
  border-radius: 6px;
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.selengkapnya-btn:hover {
  background: #7B6456;
  color: white;
}


/* ================== FOOTER SECTION ================== */

footer {
  background: linear-gradient(to bottom, #fafaf5, #000000);
  color: white;
  text-align: center;
  padding: 15rem 1rem;
  font-family: 'Poppins', sans-serif;
}

footer .footer-container {
  max-width: 1000px;
  margin: 0 auto;
}


footer .footer-container h2 {
  font-size: 1.8rem;
  color: #FFFFFF;
  margin: 0 0 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 7px;
}

footer .footer-container p {
  margin: 0.5rem 0 1rem;
  font-size: 0.95rem;
  color: #ddd;
}

footer .social-icons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

footer .social-icons i {
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

footer .social-icons i:hover {
  transform: scale(1.2);
  color: #ded6c1; /* aksen */
}

footer small {
  display: block;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  color: #ccc;
  font-family: 'Poppins', sans-serif;
}

